<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..\static\team.css">
    <title>Core Team</title>
</head>
<body>
    
    <section>
        <div>
            <center>
                <button style="align-items: center; margin-top:2%; font-size: 30px; border-radius: 10px;"><a href = "{{url_for('getMovieList')}}" style="font-size:20px;">GO BACK</a></button>
            </center>
        </div>
        <div class="container">
            <div class="card">                
                <div class="content">
                    <div class="image-box"><img src="..\static\kv.jpg" alt=""> </div>
                    <div class="content-box">
                        <h3>Kaivalya Pathak<br><span>The King</span></h3>
                    </div>
            </div>
            <ul class="social">
                <li class = "fb" style="--i:1">
                    <a href="https://www.facebook.com/kaivalya.pathak.5/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class = "in" style="--i:2">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class = "lin" style="--i:3">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>
            </div>
                <div class="card">                
                    <div class="content">
                        <div class="image-box"><img src="..\static\rv.jpg" alt=""> </div>
                        <div class="content-box">
                            <h3>Raghav Batra<br><span>The Scout</span></h3>
                        </div>
                    </div>
                <ul class="social">
                    <li class="fb" style="--i:1">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="in" style="--i:2">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class = "lin" style="--i:3">
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="card">                
                <div class="content">
                    <div class="image-box"><img src="../static/piyush.jpg" alt=""> </div>
                    <div class="content-box">
                        <h3>Piyush Makkar<br><span>The Treasurer</span></h3>
                    </div>
                </div>
            <ul class="social">
                <li class="fb" style="--i:1">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class = "in" style="--i:2">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class = "lin" style="--i:3">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="card">                
            <div class="content">
                <div class="image-box"><img src="../static/tanmay.jpg" alt=""> </div>
                <div class="content-box">
                    <h3>Tanmaysinh Khant<br><span>The Commander</span></h3>
                </div>
            </div>
        <ul class="social">
            <li class="fb" style="--i:1">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class = "in" style="--i:2">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class = "lin" style="--i:3">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
    <div class="card">                
        <div class="content">
            <div class="image-box"><img src="../static/vinit.jpg" alt=""> </div>
            <div class="content-box">
                <h3>Vinit Patel<br><span>Prince of Vadodara</span></h3>
            </div>
        </div>
    <ul class="social">
        <li class="fb" style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class = "in" style="--i:2">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li class = "lin" style="--i:3">
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="card">                
    <div class="content">
        <div class="image-box"><img src="../static/sak.jpg" alt=""> </div>
        <div class="content-box">
            <h3>Sakshi Rajpura<br><span>Princess of Bhavnagar</span></h3>
        </div>
    </div>
<ul class="social">
    <li class="fb" style="--i:1">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li class = "in" style="--i:2">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li class = "lin" style="--i:3">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
</ul>
</div>
<div class="card">                
    <div class="content">
        <div class="image-box"><img src="../static/dhruvit.jpg" alt=""> </div>
        <div class="content-box">
            <h3>Dhruvit Mistry<br><span>The Advisor</span></h3>
        </div>
    </div>
<ul class="social">
    <li class="fb" style="--i:1">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li class = "in" style="--i:2">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li class = "lin" style="--i:3">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
</ul>
</div>
        </div>
    </section>
</body>
</html>